<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://nb.baidupcs.com/file/ada8444ca4db29b9eb5b56bea29dd240?fid=3490660140-250528-872143095941777&time=1411650112&sign=FDTAXER-DCb740ccc5511e5e8fedcff06b081203-H%2F%2B8XZbwpzFDS2BJYiEimyfgpP4%3D&to=nbb&fm=Nin,B,U,nc&newver=1&newfm=1&flow_ver=3&expires=8h&rt=pr&r=919145743&mlogid=2886967588&vuk=3490660140&vbdid=338810072</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.sarnath.oautils</string>
				<key>bundle-version</key>
				<string>2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>schoolgater</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
